/* Aah I was too lazy to implement this */
/* You can do it */


nav{
    display: inline-block;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #5812e3;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a{
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.container{
    font-size: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.news-item a{
    color: #5812e3;
    text-decoration: none;
    font-size: 28px;
    font-weight: bold;
}

#search{
    padding: 5px;
    border-radius: 15px;
    border: 2px solid;
    font-size: 18px;
    margin: 10px;
}

#source{
    padding: 5px;
    border-radius: 15px;
    border: 2px solid;
    font-size: 15px;
    margin: 5px;
}

#filterButton{
    padding: 5px;
    border-radius: 15px;
    border: 2px solid;
    font-size: 16px;
    font-weight: bold;
    margin: 5px;
    background-color: #5812e3;
    color: white;
}